body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    width: 450px;
    background-color: #97973d;
    padding: 20px;
    box-sizing: border-box;
}

#height,
#weight{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide{
    text-align: center;
    margin-top: 25px;
}

#results{
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241red, 241, 241);
}

button {
  display: block;
  margin: 25px auto 0;
  width: 150px;
  height: 35px;
  background-color: #fff;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 15px;
  text-align: center;
}

button:hover{
    cursor: pointer;
}

h1 {
  padding-top: 25px;
  text-align: center;
}